body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* About me section */
.about-me {
  margin: 0 0 40px 0;
}

/* Main content title */

.work-experience__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 10px 0;
}

/* Main content section */
.main-content-section {
  padding: 100px 90px;
}

.about-me__profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
}

.about-me__name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 25px 0;
}

.about-me__discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 500px;
  text-align: justify;
}

/* My project section */
.my-projects {
  margin-bottom: 50px;
}

.my-projects__list {
  padding: 0 0 0 17px;
}

.my-projects__item {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.my-projects__text {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.my-projects__link {
  padding: 0 0 0 5px;
  color: #595959;
}

.my-projects__bracket {
  color: black;
  font-weight: bold;
}

/* Work experience */
.work-experience__prof {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px 0;
}

.work-experience__mounth {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.work-experience__mounth--color {
  color: black;
}

.work-experience__color {
  color: #fb6d3a;
}

.work-experience__discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 500px;
  padding: 0 0 0 17px;
  margin: 0 0 10px 0;
  text-align: justify;
}

/* My education section */


.education-item__title {
  padding: 45px 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 10px 0;
}

.education-item__nur {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}

.education-item__management {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}

.education-item__mounth {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.education-list {
  list-style-type: none;
  padding-left: 0;
}

/* Sidebar section */
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
}

.sidebar__photo {
  width: 360px;
  height: auto;
}

.sidebar__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

.sidebar__list {
  list-style-type: none;
}

.sidebar__title,
.tech-skills,
.soft-skills {
  margin: 50px 0 0 40px;
}

/* Contacts section */
.sidebar__contacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
  margin-right: 7px;
}

.sidebar__contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.tech-skills__title {
  color: #fff;
  font-size: 22px;
}

.tech-skills__list {
  padding: 0 0 0 17px;
}

.tech-skills__item {
  color: #fb6d3a;
}

.tech-skills__color {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.soft-skills__title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.soft-skills__list {
  padding: 0 0 0 17px;
}

.soft-skills__item {
  color: #fb6d3a;
}

.soft-skills__color {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

